* {
    font-family: "Poppins", sans-serif;
}

header {
    margin: 47px 0 0 42px;
}

.header-1 {   

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
    cursor: default;

}

.button-one{
    cursor: pointer;
    color: #ffffff;
    width: 124px;
    height: 51px;
    background-color: #6FBF44;
    border: none;
    border-radius: 6px 
    
    
}

.img-logo{
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
    margin-top: 146px;
}

section{
    display: inline-block;
    margin-left: 86px;


}




h1 {
    width: 582px;
    height: 164px;
    top: 342px;
    left: 801px;
    color: #161A49;

    font-size: 62px;
    font-weight: 700;
    line-height: 82px;

}

p {
    width: 493px;
    height: 99px;
    top: 553px;
    left: 801px;
    color: #4B505A;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;

}

.link-main {
    width: 112px;
    height: 27px;
    top: 707px;
    left: 801px;
    color: #6FBF44;

    
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
    cursor: default;

}